<app-navbar />
<div class="bg-image">
</div>

<div class="bg-text">
  <h2>Stock Management</h2>
  <h1 style="font-size:50px">Stock Items</h1>
  <i class="bi bi-arrow-right-short"routerLink="/items" ></i>

  <p>search for items</p>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search item..." aria-label="Search item"
      aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" class="btn btn-outline-danger"id="button-addon2">Search</button>
  </div>
</div>