.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
  }

  .cover {
    margin-top: 15rem;
  }
  
  .icon {
    padding: 10px;
    background: rgb(245, 59, 59);
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid rgb(245, 59, 59);
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: rgb(245, 59, 59);
    color: rgb(223, 219, 219);
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }