

<div class="cover">
<form   [formGroup]="form" >
    <h2>Register</h2>
    <div class="input-container">
      <i class="fa fa-user icon"></i>
      <input class="input-field" type="text" placeholder="Username"  formControlName="username"name="usrnm">
    </div>
  
    <div class="input-container">
      <i class="fa fa-envelope icon"></i>
      <input class="input-field" type="text" placeholder="Email"  formControlName="email" name="email">
    </div>
    
    <div class="input-container">
      <i class="fa fa-key icon"></i>
      <input class="input-field" type="password" placeholder="Password" formControlName="password" name="psw">
    </div>
  
    <button type="submit" class="btn" (click)="register()">Register</button>
  </form>
</div>

