<p>login-page works!</p>

<div class="cover">
    <form>
        <h2>Login</h2>
        <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            <input class="input-field" type="text" placeholder="Email" formControlName="email" name="email">
        </div>

        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <input class="input-field" type="password" placeholder="Password" formControlName="password" name="psw">
        </div>

        <button type="submit" class="btn">Login</button>
    </form>
</div>