


    <form   [formGroup]="form" >
      <div class="cover">
        <h2>Login</h2>
        <div class="input-container">
          <i class="fa fa-user icon"></i>
          <input class="input-field" type="text" placeholder="Email"  formControlName="email"name="usrnm">
        </div>

        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <input class="input-field" type="password" placeholder="Password" formControlName="password" name="psw">
          </div>
         
          
         
          <button type="submit" class="btn" (click)="login()">login</button><p>
            
          </p>
          <i class="bi bi-arrow-left-short"routerLink="/register" ></i>

        </div>
    </form>
