<app-navbar />

<div class="container mt-5">
    <div class="row">
        <table class="table table-striped table-bordered table-hover mt-5">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listItems">
                    <th scope="row">{{item._id}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">

                           
                            <button type="button" class="btn btn-outline-primary" (click)="open(content)">Update</button> 
                                
                            <ng-template #content let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title"></h4>
                                    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <label>{{name}}</label>
                                            <div class="input-group">
                                                <input class="form-control" [(ngModel)]="list.name" type="text" name="name" #name placeholder="Item name..." />
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label>{{description}}</label>
                                            <div class="input-group">
                                                <input class="form-control" [(ngModel)]="list.name" type="text" description="description" #description
                                                    placeholder="Item description..." />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Close</button>
                                        <button type="button" class="btn btn-outline-primary"
                                            (click)="addToListFunc(name.value, description.value)">Save Changes</button>
                                    </div>
                            
                                </div>
                            </ng-template>
                            
                            
                            
                              
                                
                                
                                
                                
                                <button type="button" class="btn btn-outline-danger"(click)="deleteItem(item._id)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<button class="btn-add" (click)="open(content)">ADD</button>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"></h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label>Name</label>
                <div class="input-group">
                    <input class="form-control" type="text" name="name" #name placeholder="Item name..." />
                </div>
            </div>
            <div class="mb-3">
                <label>Description</label>
                <div class="input-group">
                    <input class="form-control" type="text" description="description" #description
                        placeholder="Item description..." />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Close</button>
            <button type="button" class="btn btn-outline-primary"
                (click)="addToListFunc(name.value, description.value)">Save</button>
        </div>

    </div>
</ng-template>



